*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(darkbackground.jpg);
  background-position: top;
  background-size: cover;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu-bar{
  text-align: center;
}
.menu-bar ul{
  color: #fff;
  display: inline-flex;
  list-style: none;
}
.menu-bar ul li{
  margin: 15px;
  padding: 15px;
  width: 120px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: white;
}
.active, .menu-bar ul li:hover{
  background: orange;
  border-radius: 3px;
}
.menu-bar .fa{
  margin-right: 8px;
}
.sub-menu-1{
  display: none;
}

.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: grey;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
